<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Dashboard</h1>
</div>
<div class="row">
    <div class="card col-4 mx-auto">
        <h2>Total users</h2>
        <h2>100</h2>
        <p><a href="/admin/customers">View all</a></p>
    </div>
    <div class="card col-4 mx-auto">
        <h2>Total orders</h2>
        <h2>150</h2>
        <p><a href="/admin/orders">View all</a></p>
    </div>
</div>